<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>481527422226-73ukkb7edo2s0bp06m7famca6r2la45f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481527422226-73ukkb7edo2s0bp06m7famca6r2la45f</string>
	<key>API_KEY</key>
	<string>AIzaSyCD1-evwzPqOx7I5ikqudXjzIMWD-YKlPo</string>
	<key>GCM_SENDER_ID</key>
	<string>481527422226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ampatarradellas.tarraAPP</string>
	<key>PROJECT_ID</key>
	<string>tarraapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tarraapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481527422226:ios:a2adb72a4e3a7d62</string>
	<key>DATABASE_URL</key>
	<string>https://tarraapp.firebaseio.com</string>
</dict>
</plist>
